body {
  font-family: 'Arial', sans-serif !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

/* .container-fluid {

} */

h1 {
  font-size: 2rem !important;
  margin: 1.5rem 0 !important;
}

.form-container {
  width: 90% !important;
  max-width: 400px !important;
  padding: 20px !important;
  background: linear-gradient(to bottom, #ffffff, #f2f2f2) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

.form-label {
  font-weight: bold !important;
}

.form-control {
  margin-bottom: 15px !important;
  background: #4a8ff42e;
}

.btn-primary {
  background: linear-gradient(to bottom, #007bff, #0056b3) !important;
  color: #fff !important;
  border: none !important;
}

.btn-primary:hover {
  background: linear-gradient(to bottom, #0056b3, #003380) !important;
}

/* .container-fluid{
  width: 100% !important;
} */

/* Media Query for responsiveness */
@media (max-width: 768px) {
  .form-container {
    width: 100% !important;
  }
  .col-3{
    width: 90% !important;
  }
}
